{
    "profile": "home",
    "autoblock": true,
    "autostart": true,
    "ai_thresholds": {
        "home": -0.3,
        "pme": -0.15,
        "datacenter": 0.0
    },
    "interface": "Ethernet 3"
}